<nav class="pcoded-navbar">
  <div class="pcoded-inner-navbar main-menu">
    <div class="">
      <div class="main-menu-header">
        <img class="img-menu-user img-radius" src="<%= asset_path 'avatar-4.jpg' %>" alt="User-Profile-Image">
        <div class="user-details">
          <p id="more-details">John Doe<i class="feather icon-chevron-down m-l-10"></i></p>
        </div>
      </div>
      <div class="main-menu-content">
        <ul>
          <li class="more-details">
            <a href="#!">
              <i class="feather icon-settings"></i>Configuración
            </a>
            <a href="auth-normal-sign-in.html">
              <i class="feather icon-log-out"></i>Salir
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="pcoded-navigation-label">Navegación</div>
    <ul class="pcoded-item pcoded-left-item">
      <li class=" ">
        <a href="form-select.html" class="waves-effect waves-dark">
          <span class="pcoded-micon">
            <i class="feather icon-feather"></i>
          </span>
          <span class="pcoded-mtext">Restaurante</span>
        </a>
      </li>
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
          <span class="pcoded-micon"><i class="feather icon-home"></i></span>
          <span class="pcoded-mtext">Caja</span>
        </a>
        <ul class="pcoded-submenu">
          <li class="">
            <a href="index.html" class="waves-effect waves-dark">
              <span class="pcoded-mtext">Apertura-Cierre</span>
            </a>
          </li>
          <li class="">
            <a href="dashboard-ecommerce.html" class="waves-effect waves-dark">
              <span class="pcoded-mtext">Ingresos</span>
            </a>
          </li>
          <li class="">
            <a href="dashboard-crm.html" class="waves-effect waves-dark">
              <span class="pcoded-mtext">Egresos</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="pcoded-hasmenu">
        <ul class="pcoded-submenu">
          <li class=" pcoded-hasmenu">
            <a href="javascript:void(0)" class="waves-effect waves-dark">
              <span class="pcoded-mtext">Vertical</span>
            </a>
            <ul class="pcoded-submenu">
              <li class="">
                <a href="menu-static.html" class="waves-effect waves-dark">
                  <span class="pcoded-mtext">Static Layout</span>
                </a>
              </li>
              <li class="">
                <a href="menu-header-fixed.html" class="waves-effect waves-dark">
                  <span class="pcoded-mtext">Header Fixed</span>
                </a>
              </li>
              <li class="">
                <a href="menu-compact.html" class="waves-effect waves-dark">
                  <span class="pcoded-mtext">Compact</span>
                </a>
              </li>
              <li class="">
                <a href="menu-sidebar.html" class="waves-effect waves-dark">
                  <span class="pcoded-mtext">Sidebar Fixed</span>
                </a>
              </li>
            </ul>
          </li>
          <li class=" pcoded-hasmenu">
            <a href="javascript:void(0)" class="waves-effect waves-dark">
              <span class="pcoded-mtext">Horizontal</span>
            </a>
            <ul class="pcoded-submenu">
              <li class="">
                <a href="menu-horizontal-static.html" target="_blank" class="waves-effect waves-dark">
                  <span class="pcoded-mtext">Static Layout</span>
                </a>
              </li>
              <li class="">
                <a href="menu-horizontal-fixed.html" target="_blank" class="waves-effect waves-dark">
                  <span class="pcoded-mtext">Fixed layout</span>
                </a>
              </li>
              <li class="">
                <a href="menu-horizontal-icon.html" target="_blank" class="waves-effect waves-dark">
                  <span class="pcoded-mtext">Static With Icon</span>
                </a>
              </li>
              <li class="">
                <a href="menu-horizontal-icon-fixed.html" target="_blank" class="waves-effect waves-dark">
                  <span class="pcoded-mtext">Fixed With Icon</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="">
            <a href="menu-bottom.html" class="waves-effect waves-dark">
              <span class="pcoded-mtext">Bottom Menu</span>
            </a>
          </li>
          <li class="">
            <a href="box-layout.html" target="_blank" class="waves-effect waves-dark">
              <span class="pcoded-mtext">Box Layout</span>
            </a>
          </li>
          <li class="">
            <a href="menu-rtl.html" target="_blank" class="waves-effect waves-dark">
              <span class="pcoded-mtext">RTL</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="navbar-light.html" class="waves-effect waves-dark">
          <span class="pcoded-micon">
            <i class="feather icon-menu"></i>
          </span>
          <span class="pcoded-mtext">Clientes</span>
        </a>
      </li>
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
          <span class="pcoded-micon">
            <i class="feather icon-layers"></i>
          </span>
          <span class="pcoded-mtext">Compras</span>
        </a>
        <ul class="pcoded-submenu">
          <li class="">
            <a href="widget-statistic.html" class="waves-effect waves-dark">
              <span class="pcoded-mtext">Todas las compras</span>
            </a>
          </li>
          <li class="">
            <a href="widget-data.html" class="waves-effect waves-dark">
              <span class="pcoded-mtext">Proveedores</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="pcoded-hasmenu">
        <a href="javascript:void(0)" class="waves-effect waves-dark">
          <span class="pcoded-micon">
            <i class="feather icon-box"></i>
          </span>
          <span class="pcoded-mtext">Créditos</span>
        </a>
        <ul class="pcoded-submenu">
          <li class="">
            <a href="alert.html" class="waves-effect waves-dark">
              <span class="pcoded-mtext">Compras</span>
            </a>
          </li>
        </ul>
      </li>
      <li class=" ">
        <a href="form-select.html" class="waves-effect waves-dark">
          <span class="pcoded-micon">
            <i class="feather icon-help-circle"></i>
          </span>
          <span class="pcoded-mtext">Informes</span>
        </a>
      </li>
      <li class=" ">
        <a href="form-select.html" class="waves-effect waves-dark">
          <span class="pcoded-micon">
            <i class="feather icon-edit"></i>
          </span>
          <span class="pcoded-mtext">Ajustes</span>
        </a>
      </li>
      <li class=" ">
        <a href="form-select.html" class="waves-effect waves-dark">
          <span class="pcoded-micon">
            <i class="feather icon-monitor"></i>
          </span>
          <span class="pcoded-mtext">Tablero</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
